@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html, body {
    background-color: #F4F3EE !important; 
    color: #1e293b !important;
  }

  @media (prefers-color-scheme: dark) {
    html, body {
      background-color: #0A192F !important;
      color: #CCD6F6 !important;
    }
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    width: 8px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-slate-400/20 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400/40;
  }
}